
<br/>
<h2>Contato</h2>

<div class="contato_box">
    <img src="../../assets/email_icon.svg" class='email_icon'/><span style="font-size:3rem">!</span>
    <br/><br/><br/>
    Se quiser me contactar por questões profissionais,<br/>
    Me procure no <a href="https://www.linkedin.com/in/icaro-mendes-338688256/" target="_blank">Linkedin</a> ou escreva para:<br/><br/>
    <br/>
    <span class="bold">icaroamendes@gmail.com</span>
    <br/><br/><br/>
    Tenha um ótimo dia!<br/>
    Obrigado pela visita!

</div>
<picture class="coffee_wrap">

    <img src="../../assets/coffee.svg" class="img_coffee" alt="café" title="Vamos tomar um café?"/>
</picture>

