
<br/>
<h2>Contato</h2>

<div class="contato_box">
<br/>
Se quiser me contactar por questões profissionais,<br/>
Me procure no <a href="https://www.linkedin.com/in/icaro-mendes-338688256/" target="_blank">Linkedin</a> ou escreva para:<br/><br/>
<br/>
<span class="bold">icaroamendes@gmail.com</span>
<br/><br/><br/>
Tenha um ótimo dia!<br/>
Obrigado pela visita!

</div>
<picture>

    <img src="../../assets/coffee.svg" class="img_coffee" alt="café" title="let's grab a coffee sometime!"/>
</picture>

