

<div class="wrap_history">

    <div class="history_box box_right">

    <picture>
        <img src="../../assets/unifei_logo.jpg" class="pic_small">
    </picture>

    <div class="text_bio">

        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque architecto ducimus natus vel quibusdam dolores, exercitationem suscipit hic, deserunt omnis id sequi aliquid temporibus accusamus tempora beatae illum cum sint.    
   

    </div>
 </div>


    <div class="history_box box_left">
        <img src="../../assets/mochilao.jpg" alt="mochilão" class="pic_small">
        <img src="../../assets/ondenacao.jpg" alt="ordenação" class="pic_small">
        <div class="text_bio">

            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque architecto ducimus natus vel quibusdam dolores, exercitationem suscipit hic, deserunt omnis id sequi aliquid temporibus accusamus tempora beatae illum cum sint.    
       
    
        </div>
    </div>


    <div class="history_box box_right">
        <div class="text_bio">

            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque architecto ducimus natus vel quibusdam dolores, exercitationem suscipit hic, deserunt omnis id sequi aliquid temporibus accusamus tempora beatae illum cum sint.    
       
    
        </div>
    </div>


</div>