
h3{
    font-size: 1.7rem;
}


.wrap_history{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.history_box{
    width: 600px;
    margin-top:50px;

    border-radius: 5px;

    background-color: rgb(146, 227, 146);
    color: #076a07;

    padding: 1rem;

    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);

    font-family: 'Signika Negative', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing:0.05em;
    line-height: 1.4em;
}

.box_right{
 align-self: flex-end;
 text-align: right;
}

.wrap_pic{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 600px;
    justify-items: center;

    .pic_small{
        width: 275px;
    }
}


.pic_small_1{
    width: 150px;
}

.pic_small_2{
    width: 350px;
}

.side_side{
    display:grid;
    grid-template-columns: auto auto;
}