
<h2>Minha trajetória profissional</h2>


<div class="wrap_history ">

    <div class="history_box box_right side_side">

    <picture>
        <img src="../../assets/unifei_logo.jpg" class="pic_small_1">
    </picture>

    <div class="text_bio">
<h3>Começo na Programação</h3>

Minha jornada em programação começou em 2011 quando entrei no curso de Ciências da Computação
na Universidade Federal de Itajubá. Depois de três períodos nesse curso, transferi para o
curso de Sistemas de Informação, que por ser no período noturno me abriria a oportunidade
de começar um estágio na área. <br/><br/>

Em 2012 eu comecei um estágio de período integral como programador PHP na empresa Savoir Tecnologia, que durou 15 meses.


    </div>
 </div>


    <div class="history_box box_left">
        <div class="wrap_pic">
            <picture>
            <img src="../../assets/mochilao.jpg" alt="mochilão" class="pic_small">
            </picture>
            <picture>
            <img src="../../assets/ondenacao.jpg" alt="ordenação" class="pic_small">
            </picture>
        </div>
        <div class="text_bio">
<h3>Pausa na Carreira</h3>
            No final de 2013 eu resolvi tirar uma pausa na minha careira. Eventos foram se somando e essa pausa
            acabou por durar quase 9 anos. Nesse tempo tive muitas experiências que somaram muito para aminha vida,
            como retiros de meditação, viajar de mochilão pelo Brasil e Argentina, e seis anos como Monge Budista
            na Tailândia.
    
        </div>
    </div>


    <div class="history_box box_right">
        <div class="text_bio">

            <picture>
                <img src="../../assets/portifolio_print.png" class="pic_small_2">
            </picture>
            
    
            <div class="text_bio">
                <h3>Retomada da Carreira</h3>
                            
                Satisfeito com as experiências que havia tido, resolvi buscar uma vida mais sustentável a longo prazo,
                E no final de 2022 renunciei à vida monástica e retornei à vida leiga. Por mais que nove anos parecessem
                muito, não demorou mais do que alguns parágrafos de código para retomar de onde havia parado. Hoje em dia
                trabalho para me atualizar nas tecnologias de desenvolvimento web mais recentes e retornar para a área. 
            </div>

        </div>
    </div>


</div>