
h3{
    font-size: 1.7rem;
}


/**
 * seção introdutória
 */
.wrap_intro{
    display:grid;
    justify-content: center;
    justify-items: center;
}


.a_right{
    text-align: right;
}

.a_left{
    text-align: left;
}

.a_center{
    text-align: center;
}

.intro{
    text-align: center;
    max-width: 350px;
    line-height: 1.7rem;
    font-size: 1.2rem;
    margin-top: 1rem;

    p{
        margin-bottom:6rem;
    }
}

/**
 * boxes com historia
 */
.wrap_history{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.history_box{
    width: 600px;
    margin-top:50px;

    border-radius: 5px;

    background-color: rgb(132, 223, 132);
    color: #076a07;

    padding: 1.5rem;

    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);

    font-family: 'Signika Negative', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing:0.05em;
    line-height: 1.4em;


    transition: 0.3s;

    h3{
        color: #035003;
    }
   
    &:hover{    
        -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);


        background-color: rgb(125, 233, 125);
        color: #044e04;
        
    }
}


.wrao_bio{
    display: flex;
}
.text_bio{
    &::selection {
        color: rgb(35, 94, 8);
        background: rgb(251, 253, 230)   ;
      }
}

.box_right{
 align-self: flex-end;
 text-align: right;
}

.wrap_pic{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 600px;
    justify-items: center;

    .pic_small{
        width: 275px;
    }
}

.pic_small_1{
    width: 150px;
    border-radius: 20px;
}

.pic_small_2{
    width: 350px;
}

.side_side{
    display:grid;
    grid-template-columns: auto auto;
}

.increase_185{
    transition: width 0.5s;
    &:hover{
        width:185px;
       
    }
}

.simple_border{
    border:1px solid black;
}

.inc_left{
    transition: transform 0.5s;
    &:hover{
        transform: rotate(-4deg);
    }
}

.inc_right{
    transition: transform 0.5s;
    &:hover{
        transform: rotate(4deg);
    }
}

.grid_center{
    display: grid;
    justify-items: center;
}

.dissappear{
    transition: opacity 0.4s;
    &:hover{
        opacity: 0;
    }
}

.brand{
    font-family: 'Courier New', Courier, monospace;
}

.vert_680{
    display:grid;
    grid-template-columns: auto auto;
}
/**
 * responsividade no tamanho da tela
 */

@media only screen and (max-width:680px){
    .history_box{
        width: 80vw;
    }

    .vert_680{
        grid-template-columns: auto;
    }
}

@media only screen and (max-width:450px){
    .pic_small_2{
        width: 280px;
    }
}