<div class="wrap_intro">
<div class="intro">
<h2>-Sobre-</h2>
<br/><br/>
<p class="a_center">Olá!,<br/>Meu nome é Icaro De Almeida Mendes e construí este site
como complemento para meu currículo.</p>
<p class="a_left">Aqui vocẽ pode encontrar alguns projetos meus e um pouco da minha vida profissional.</p>
<p class="a_right">Fique à vontade para deixar uma mensagem pela página de contato.</p>

</div>
<h2>-Minha trajetória profissional:</h2>



</div>
<div class="wrap_history ">
    
        <div class="history_box box_right side_side">
        <div class="wrap_bio">

            <picture>
                <img src="../../assets/unifei_logo.jpg" class="pic_small_1 increase_135 simple_border" alt="UNIFEI Logo" title="UNIFEI">
            </picture>
            

            <div class="text_bio">
            <h3>Começo na Programação</h3>

            Minha jornada em programação começou em 2011 quando entrei no curso de Ciências da Computação
            na Universidade Federal de Itajubá. Depois de três períodos nesse curso, transferi para o
            curso de Sistemas de Informação, que por ser no período noturno me abriria a oportunidade
            de começar um estágio na área. <br/><br/>

            Em 2012 eu comecei um estágio de período integral como desenvolvedor PHP 
            na empresa Savoir Tecnologia. Nesse
            período trabalhei com projetos de todos os portes, construindo sites
            do zero, manutenção projetos legados mais antigos, manutenção de sites 
            de lojas grandes com grande volume de produtos, melhorias em sites de terceiros, etc.
            Algumas das empresas clientes foram <span class="brand">C&A, BrandsClub</span> entre outras. <br/><br/>
            
            O estágio durou 15 meses
            e me trouxe uma excelende introdução e grande experiência principalmente
            com desenvolvimento server-side.

            <picture>
                <img src="../../assets/php-logo.png" class="pic_small_1 increase_185 simple_border" alt="php Logo" title="php">
            </picture>
            <picture>
                <img src="../../assets/JQuery-Logo.svg.png" class="pic_small_1 increase_185 simple_border" alt="jquery Logo" title="jQuery">
            </picture>
            </div>
         </div>
    </div>
 

    <div class="history_box box_left">
        <div class="wrap_bio">
            <div class="wrap_pic vert_680">
                <picture>
                <img src="../../assets/mochilao.jpg" alt="mochilão" title="A caminho de bariloche" class="pic_small inc_left">
                </picture>
                <picture>
                <img src="../../assets/ondenacao.jpg" alt="ordenação" title="Ordenação em Wat marp Jan" class="pic_small inc_right">
                </picture>
            </div>
            <div class="text_bio">
    <h3>Pausa na Carreira</h3>
                No final de 2013 eu resolvi tirar uma pausa na minha careira. Eventos foram se somando e essa pausa
                acabou por durar quase 9 anos. Nesse tempo tive muitas experiências que somaram muito para a minha vida,
                como retiros de meditação, viajar de mochilão pelo Brasil e Argentina, e seis anos como Monge Budista
                na Tailândia.
        
            </div>
        </div>
    </div>
 


    <div class="history_box box_right">
        <div class="wrap_bio">

            <picture class="grid_center">
                <img src="../../assets/portifolio_print.png" class="pic_small_2 dissappear" alt="tela de código" title="Follow the white rabbit..."  >
            </picture>
            
    
            <div class="text_bio ">
                <h3>Retomada da Carreira</h3>
               <p>             
                Satisfeito com as experiências que havia tido, resolvi buscar uma vida mais sustentável a longo prazo,
                E no final de 2022 deixei a vida monástica e retornei à vida comum. Por mais que nove anos parecessem
                muito, não demorou mais do que alguns parágrafos de código para retomar de onde havia parado. Hoje em dia
                trabalho para me atualizar nas tecnologias de desenvolvimento web mais recentes e retornar para a área.
                <br/>Recentemente comecei também a executar projetos como Freelancer.</p>

                <picture>
                    <img src="../../assets/angular_logo.png" class="pic_small_1 increase_185 simple_border" alt="Angular Logo" >
                </picture>
                <picture>
                    <img src="../../assets/React_logo_wordmark.png" class="pic_small_1 increase_185 simple_border" alt="react Logo" >
                </picture>
                <picture>
                    <img src="../../assets/sass_logo.png" class="pic_small_1 increase_185 simple_border" alt="sass Logo">
                </picture>
            </div>

        </div>
    </div>


</div>