<div class="pre_nav_container">

</div>

<div class="nav_container">
    <div class="nav_wrap">
    <nav>


      <div class="nav_item">
        <a (click)="goto('/')">Home</a>
      </div>


      <div class="nav_item">
        <a (click)="goto('/sobre')">Sobre</a>
      </div>


        <div class="nav_item">
          <a (click)="goto('/projetos')">Projetos</a>
        </div>


        <div class="nav_item">
          <a (click)="goto('/contato')">Contato</a>
        </div>



    </nav>
    </div>
</div>

<div class="main transition_1" [ngClass]="visible ? 'active' : 'inactive'">
  <div class="content_wrap">
  <router-outlet></router-outlet>
  </div>
</div>


<footer>
  <div class="footer_wrapp">

      <div class="footer_column">
        Site por Icaro Mendes.
      </div>


      <div class="footer_column">
      <div class="wrap_social_footer">

        <a href="https://www.linkedin.com/in/icaro-mendes-338688256/" target="_blank" alt="Linkedin">
          <div class="social_logo">
            <img src="../../assets/linkedin.svg" >
          </div>
        </a>

        <a href="https://github.com/icaroMendes777" target="_blank">
          <div class="social_logo">
            <img src="../../assets/github.svg" alt="github">
          </div>
        </a>

      </div>

      </div>
  </div>

</footer>
