
<div class="intro_projetos">
    <h2>Projetos</h2>
    Projetos realizados para clientes, fins de estudo ou recreação.<br/>

</div>
<h3>Sites Completos</h3>
<div class="proj_card_box fl_start">
    <div class="wrap_projects_card  ">

        <a href="https://github.com/icaroMendes777/portifolio_true/" target="_blank" class="project_card">


            <picture>
            <img src="../../assets/portifolio.png" class="thumb_project" alt="site portifolio">
            </picture>
            <h3>Este Portfólio</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Código fonte deste site, desenvolvido com <span class="tech_name">Angular</span> e <span class="tech_name">Sass.</span>
            </div>

        </a>



        <a href="http://correadecoracoes.epizy.com/" target="_blank" class="project_card">


            <picture>
            <img src="../../assets/correa.png" class="thumb_project" alt="site portifolio">
            </picture>
            <h3>Correa Decorações</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Site comercial, desenvolvido com <span class="tech_name">ReactJS</span> e <span class="tech_name">Sass.</span>
            </div>

        </a>



        <a href="http://vocebonita.epizy.com/" target="_blank" class="project_card">


          <picture>
          <img src="../../assets/vocebonita.png" class="thumb_project" alt="site portifolio">
          </picture>
          <h3>Você Bonita</h3>
          <div class="line"></div>
          <div class="desc_proj">
              <b style="color: rgb(4, 55, 1);">- Em construção! -</b>
              <br/><br/>
              Página de salão de beleza em <span class="tech_name">Wordpress.</span>
          </div>

      </a>



      <a href="https://www.acessoaoinsight.net/" target="_blank" class="project_card">


        <picture>
        <img src="../../assets/acessoaoinsight.png" class="thumb_project" alt="site portifolio">
        </picture>
        <h3>Acesso ao insight</h3>
        <div class="line"></div>
        <div class="desc_proj">
            Responsável pela manutenção de um portal sobre Budismo <br/> <i><b>-Projeto legado-</b></i> <br/> (Mais de 20 anos de idade -  <span class="tech_name">php</span>).
        </div>

    </a>

    </div>

</div>
<h3>Outros Projetos</h3>
<div class="proj_card_box">
    <div class="wrap_projects_card">




      <a href="https://github.com/icaroMendes777/basic-laravel" target="_blank" class="project_card">

        <picture>
        <img src="../../assets/laravel-basic.png" class="thumb_project" alt="jogo snake">
        </picture>
        <h3>Laravel Básico</h3>
        <div class="line"></div>
        <div class="desc_proj">
            Funcionalidades básicas do framework <span class="tech_name">Laravel</span>.
        <br/>

        </div>

    </a>



        <a href="http://icaromendes.epizy.com/snake/" target="_blank" class="project_card">

            <picture>
            <img src="../../assets/snake.png" class="thumb_project" alt="jogo snake">
            </picture>
            <h3>Jogo Snake</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Jogo clássico reproduzido com <span class="tech_name">VanillaJs</span>.
            <br/>
            <small>-Não disponível para Mobile-</small>
            </div>

        </a>


        <a href="http://icaromendes.epizy.com/forca/" target="_blank" class="project_card">

            <picture>
            <img src="../../assets/forca.png" class="thumb_project" alt="jogo snake">
            </picture>
            <h3>Jogo de Forca</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Jogo saudoso, em <span class="tech_name">Angular</span> e <span class="tech_name">Sass</span>.

            </div>

        </a>



        <a href="http://icaromendes.epizy.com/graph/" target="_blank" class="project_card">

            <picture>
            <img src="../../assets/graph.png" class="thumb_project" alt="jogo snake">
            </picture>
            <h3>Balanço Anual</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Projeto desenvolvido com <span class="tech_name">React.Js, Typescript e Sass</span>, para gerar gráficos a partir de um input.
            <br/>

            </div>

        </a>



        <a href="http://icaromendes.epizy.com/restaurante" target="_blank" class="project_card">

            <picture>
            <img src="../../assets/restaurante.png" class="thumb_project" alt="página de comentários">
            </picture>
            <h3>Clientes Restaurante</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Projeto em <span class="tech_name">ReactJS</span>. Controle o movimento e o caixa de um restaurante.
            </div>

        </a>



        <a href="http://icaromendes.epizy.com/material-app" target="_blank" class="project_card">

          <picture>
          <img src="../../assets/angularmaterial.png" class="thumb_project" alt="projeto angular material">
          </picture>
          <h3>Angular material</h3>
          <div class="line"></div>
          <div class="desc_proj">
              Caso de estudo da biblioteca <span class="tech_name">Angular Material</span> com exemplos de componentes.
          </div>

      </a>



        <a href="http://icaromendes.epizy.com/multi-step-form/" target="_blank" class="project_card">

            <picture>
            <img src="../../assets/msform.png" class="thumb_project" alt="jogo snake">
            </picture>
            <h3>Formulário SAC</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Componentes de formulários sequenciais em <span class="tech_name">Angular</span> e <span class="tech_name">Sass</span>.

            </div>

        </a>


        <a href="http://icaromendes.epizy.com/shop/" target="_blank" class="project_card">

            <picture>
            <img src="../../assets/loja.png" class="thumb_project" alt="jogo snake">
            </picture>
            <h3>Loja virtual</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Projeto desenvolvido com <span class="tech_name">React.Js, Typescript e Sass</span>, com uma <b>REST api.</b>
            <br/>

            </div>

        </a>

        <a href="http://icaromendes.epizy.com/comments/index.php" target="_blank" class="project_card">

            <picture>
            <img src="../../assets/comment_page.png" class="thumb_project" alt="página de comentários">
            </picture>
            <h3>Página de comentários</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Projeto <span class="tech_name">Server Side</span> básico, em <span class="tech_name">PHP</span>(vanilla) e <span class="tech_name">MySql</span>
            </div>

        </a>



        <a href="http://icaromendes.epizy.com/todo/" target="_blank" class="project_card">

            <picture>
            <img src="../../assets/todo.png" class="thumb_project" alt="projeto todo">
            </picture>
            <h3>Lista 'ToDo'</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Projeto clássico de programação em <span class="tech_name">ReactJS</span> com design retrô e animações.
            </div>


        </a>





        <a href="https://www.frontendmentor.io/profile/icaroMendes777" target="_blank" class="project_card">
            <picture>
            <img src="../../assets/frendmentor.png" class="thumb_project" alt="front end mentor page">
            </picture>
            <h3>Front End Mentor</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Pequenos projetos desenvolvidos dentro da comunidade <span class="tech_name">Front End Mentor</span>
            </div>

        </a>






    </div>


