
<div class="intro_projetos">
    <h2>Projetos</h2>
    Projetos realizados
</div>

<div class="proj_card_box">
    <div class="wrap_projects_card">

        

        <div class="project_card">
            <picture>
            <img src="../../assets/portifolio.png" class="thumb_project" alt="site portifolio">
            </picture>
            <h3>Este Portifólio</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Código fonte deste site, desenvolvido com Angular e Sass.
            </div>

        </div>


        <div class="project_card">
            <picture>
            <img src="../../assets/snake.png" class="thumb_project" alt="jogo snake">
            </picture>
            <h3>Jogo Snake</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Jogo clássico reproduzido com VanilaJs.
            </div>

        </div>

        <div class="project_card">
            <picture>
            <img src="../../assets/todo.png" class="thumb_project" alt="projeto todo">
            </picture>
            <h3>Lista 'ToDo'</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Projeto clássico de programação em React com design retrô e animações.
            </div>

        </div>







        <div class="project_card">
            <picture>
            <img src="../../assets/frendmentor.png" class="thumb_project" alt="front end mentor page">
            </picture>
            <h3>Front End Mentor</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Pequenos projetos desenvolvidos dentro da comunidade Front End Mentor
            </div>

        </div>




        <div class="project_card">
            <picture>
            <img src="" class="thumb_project" alt="">
            </picture>
            <h3>Projeto</h3>
            <div class="line"></div>
            <div class="desc_proj">
                descrição do projeto e tags sobre.
            </div>

        </div>


    </div>


