
<div class="intro_projetos">
    <h2>Projetos</h2>
    Projetos realizados para clientes, ou para fins de estudo ou recreação.<br/>
    
</div>
<h3>Sites Completos</h3>
<div class="proj_card_box fl_start">
    <div class="wrap_projects_card  ">

        <a href="https://github.com/icaroMendes777/portifolio_true/" target="_blank" class="project_card">
        
        
            <picture>
            <img src="../../assets/portifolio.png" class="thumb_project" alt="site portifolio">
            </picture>
            <h3>Este Portifólio</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Código fonte deste site, desenvolvido com <span class="tech_name">Angular</span> e <span class="tech_name">Sass.</span>
            </div>
       
        </a>



        <a href="http://correadecoracoes.epizy.com/" target="_blank" class="project_card">
        
        
            <picture>
            <img src="../../assets/correa.png" class="thumb_project" alt="site portifolio">
            </picture>
            <h3>Correa Decorações</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Site comercial, desenvolvido com <span class="tech_name">ReactJS</span> e <span class="tech_name">Sass.</span>
            </div>
       
        </a>


    </div>

</div>
<h3>Projetos Menores</h3>
<div class="proj_card_box">
    <div class="wrap_projects_card">




        <a href="http://icaromendes.epizy.com/snake/" target="_blank" class="project_card">
        
            <picture>
            <img src="../../assets/snake.png" class="thumb_project" alt="jogo snake">
            </picture>
            <h3>Jogo Snake</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Jogo clássico reproduzido com <span class="tech_name">VanillaJs</span>.
            <br/>
            <small>-Não disponível para Mobile-</small>
            </div>

        </a>
        


        <a href="http://icaromendes.epizy.com/restaurante" target="_blank" class="project_card">
            
            <picture>
            <img src="../../assets/restaurante.png" class="thumb_project" alt="página de comentários">
            </picture>
            <h3>Clientes Restaurante</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Projeto em <span class="tech_name">ReactJS</span>. Controle o movimento e o caixa de um restaurante.
            </div>

        </a>


        <a href="http://icaromendes.epizy.com/comments/index.php" target="_blank" class="project_card">
            
            <picture>
            <img src="../../assets/comment_page.png" class="thumb_project" alt="página de comentários">
            </picture>
            <h3>Página de comentários</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Projeto <span class="tech_name">Full Stack</span> baseado em <span class="tech_name">PHP</span> e <span class="tech_name">MySql</span>
            </div>

        </a>



        <a href="http://icaromendes.epizy.com/todo/" target="_blank" class="project_card">
          
            <picture>
            <img src="../../assets/todo.png" class="thumb_project" alt="projeto todo">
            </picture>
            <h3>Lista 'ToDo'</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Projeto clássico de programação em <span class="tech_name">ReactJS</span> com design retrô e animações.
            </div>


        </a>

        

        

        <a href="https://www.frontendmentor.io/profile/icaroMendes777" target="_blank" class="project_card">
            <picture>
            <img src="../../assets/frendmentor.png" class="thumb_project" alt="front end mentor page">
            </picture>
            <h3>Front End Mentor</h3>
            <div class="line"></div>
            <div class="desc_proj">
                Pequenos projetos desenvolvidos dentro da comunidade <span class="tech_name">Front End Mentor</span>
            </div>

        </a>






    </div>


