h3{
    padding-left: 10px;
}


.intro_projetos{
    padding:0.5rem;
    margin-bottom:1rem;
    line-height: 2rem;
}

.proj_card_box{
    width:100%;
    display:flex;
    justify-content: center;
}

.wrap_projects_card{
    display:flex;
    flex-wrap: wrap;
}

.desc_proj{
    width: 180px;
    margin: 20px;
    text-align: center;
}


.project_card{
    width: 14.5rem;
   // border: 1px solid black;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    //border-radius: 5px;

    text-decoration: none;

    //background-color: rgb(89, 212, 89);
    color: #413731;

    -webkit-box-shadow: 3px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 2px 0px rgba(0,0,0,0.75);


    display: grid;
    justify-items: center;

    transition: 0.05s;

    hr{
        width: 100px;
        color: #413731;
    }

    h3{
        font-size: 1.5rem;
        text-align: center;

    }

    img{
        opacity: 0.8;
    }

    &:hover{
        -webkit-box-shadow: 4px 5px 2px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 5px 2px 0px rgba(0,0,0,0.75);
        box-shadow: 4px 5px 2px 0px rgba(0,0,0,0.75);

        margin-top: 10px;
        margin-bottom: 20px;

        background-color: #f2ea74;
        color: #413731;
        cursor:pointer;
        transition:0.3s;

        img{
            opacity: 1;
            //border: 5px solid rgb(205, 245, 205);
        }


    }

}

.tech_name{
    font-weight: 700;
}

.line{
    height:3px;
    width:100px;
    background-color: #044e04;
}


.thumb_project{
    max-width: 210px;
    border: 2px solid #a6c3d6;
    border-radius: 3px;

    margin-top: 1rem;
}

@media only screen and (max-width:850px){
    .wrap_projects_card{
        width: 33rem;
    }
}

@media only screen and (max-width:600px){
    .wrap_projects_card{
        width: 16rem;
    }
}
