/**
 * nesse projeto o uso de variáveis em css não teve tanto sucesso
 * não havia um design inicial e o esquema de coras mudou frequentemente
 * elas são pouco usadas pelos arquivos
 */


$very_dark_green:rgb(6, 77, 6);
$medium_dark_green: #338000FF;
$very_soft_green: #d5ffe6ff;



/*for text*/
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600;900&display=swap');


body{
    margin: 0px;

    //color: #0a2a59;

    color:#413731;
    font-size: 1.1rem;
}


h2{
    font-size: 1.8rem;
}

body{
    font-family: 'Roboto Mono', monospace;
}


@media only screen and (min-width:600px){

    .main{
        width:100vw;
        display: flex;
        justify-content: center;

    }

    .content_wrap{
        max-width: 800px;
        flex:1;
    }

}


.fl_start{
    justify-content: flex-start!important;
}



@media only screen and (max-width:500px)
{
  body{
    font-size: 1rem;
  }
}
