
<main>
<picture>
<img src="../../assets/icaro.jpg" title="Esse sou eu..." class="home_me" alt="Icaro Mendes desenvolvedor web"/>

</picture>

<section class="loren_quote">

<code>
    <span class="blue">
         &lt;eu> <br/>
        </span>
    <span class="dark_blue">
         &lt;portifolio>
    </span>
         ...
    <span class="dark_blue">
         &lt;/portifolio&gt;<br/> 
    </span>
         Lorem ipsum dolor sit amet,<br/>
             consectetur adipiscing elit. <br/>
             Aenean egestas erat quis tellus <br/>
             consequat facilisis. <br/>
             Donec laoreet velit.<br/>
             <span class="blue"> &lt;/eu&gt; </span>
</code>

</section>



</main>

