
.isFading{
  background-color: black;
}

.success{
  background-color: black;
}

.my_class{
  transition: 1s;
}


main{
    display:grid;
    grid-template-columns: auto auto
}

.intro_box{
  background-color: #f2ea74;
padding: 1rem;
-webkit-box-shadow: 7px 5px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 5px 0px 0px rgba(0,0,0,0.75);
box-shadow: 7px 5px 0px 0px rgba(0,0,0,0.75);

  &:hover{
    -webkit-box-shadow: 9px 7px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 7px 0px 0px rgba(0,0,0,0.75);
box-shadow: 9px 7px 0px 0px rgba(0,0,0,0.75);
  }

}


.my_pic{
  max-width: 250px;
  margin-top: 4rem;
}

.blue{
    color:blue;
}

.dark_blue  {
    color: darkblue;
}

.home_me{
    width:350px;
    height:350px;
    border-radius: 5px;
    transform: rotate(10deg);
    margin: 50px;
    margin-top: 100px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    transition: transform 0.5s;
    &:hover{
        transform: rotate(9deg);
        opacity: 0.5;

        -webkit-box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
    }
}



.loren_quote{
    padding: 150px 70px 70px 20px;

    font-size: large;
    min-width:350px;
}

.logo_tecs{
  max-width: 500px;
}



.mini_logo{
  max-width: 50px;
}


/**
 * responsividade no tamanho da tela
 */
@media only screen and (max-width:800px)
{
    main{

        grid-template-columns:  auto;
        justify-items: center;
    }

    .loren_quote{
        padding: 20px;
        display:grid;
        justify-content: center;

    }


}

@media only screen and (max-width:500px)
{

    .loren_quote{
        padding:0px;

        max-width: 300px;
    }

    .home_me{
        width:200px;
        height:200px;

    }
}
