
<main>


  <picture><!--
  <img id="foto" src="../../assets/icaro.jpg" title="Esse sou eu..." class="home_me" alt="Icaro Mendes desenvolvedor web"/>

-->
  <img src="../../assets/eu_mesmo.png" class="my_pic"/>
  </picture>

<section class="loren_quote">

<div>

     <p class="intro_box">
    <span class="dark_blue" >
     Hi! I'm Icaro.<br/>
     And welcome to my portfolio;
    </span>
</p>

<div class="logo_tecs">

  <img src="../../assets/logos/68747470733a2f2f616e67756c61722e696f2f6173736574732f696d6167.svg"   class="mini_logo">
  <img src="../../assets/logos/68747470733a2f2f63646e2e776f726c64766563746f726c6f676f2e636f.svg"  class="mini_logo">
  <img src="../../assets/logos/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f.svg"   class="mini_logo">
  <img src="../../assets/logos/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f_002.svg"   class="mini_logo">
  <img src="../../assets/logos/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f_003.svg"   class="mini_logo">
  <img src="../../assets/logos/bootstrap-plain-wordmark.svg"   class="mini_logo">
  <img src="../../assets/logos/css3-original-wordmark.svg"   class="mini_logo">
  <img src="../../assets/logos/html5-original-wordmark.svg"   class="mini_logo">
  <img src="../../assets/logos/javascript-original.svg"   class="mini_logo">
  <img src="../../assets/logos/laravel-plain-wordmark.svg"   class="mini_logo">
  <img src="../../assets/logos/linux-original.svg"   class="mini_logo">
  <img src="../../assets/logos/php-original.svg"   class="mini_logo">
  <img src="../../assets/logos/react-original-wordmark.svg"   class="mini_logo">
  <img src="../../assets/logos/sass-original.svg"   class="mini_logo">
  <img src="../../assets/logos/typescript-original.svg"   class="mini_logo">
</div>
<!--

---------citação antiga, ainda pode voltar no futuro....


    <span class="blue">
    &lt;quote&gt;<br/>
     </span>
    <b>"</b>If you can't explain it simply,<br/>
    you don't understand it well enough.<b>"</b> <br/>
    <b>-Albert Einstein</b><br/>
    <span class="blue">
    &lt;/quote&gt;<br/>
     </span>
-->
    </div>


</section>



</main>

