
<main>
<picture>
<img src="../../assets/icaro.jpg" title="Esse sou eu..." class="home_me" alt="Icaro Mendes desenvolvedor web"/>

</picture>

<section class="loren_quote">

<code>
    
     <p>
    <span class="dark_blue">
     Portifólio pessoal
    </span>
</p>
    <span class="blue">
    &lt;quote&gt;<br/> 
     </span>
    <b>"</b>If you can't explain it simply,<br/>
    you don't understand it well enough.<b>"</b> <br/>
    <b>-Albert Einstein</b><br/>
    <span class="blue">
    &lt;/quote&gt;<br/> 
     </span>
             
</code>

</section>



</main>

